@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  background-color: #f5f3f7;
}

body .background-left {
  position: absolute;
  left: -45px;
  top: 0px;
  z-index: -1;
  width: 370px;
  height: 525px;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  background-image: linear-gradient(225deg, #e942ff 0, #8838ff 100%);
}

body .background-right {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  width: 250px;
  height: 525px;
  border-top-left-radius: 85% 30%;
  background-image: linear-gradient(125deg, #f5f3f7 0, #d89eff 100%);
  opacity: 0.4;
}

body .contenedor {
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

body .contenedor .part-left {
  width: 450px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .contenedor .part-left .phone {
  width: 260px;
  height: 480px;
  overflow: hidden;
  position: relative;
  border-radius: 35px;
  border: 10px solid white;
}

body .contenedor .part-left .phone::after {
  content: "";
  width: 150px;
  height: 25px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: -8px;
  left: calc(50% - 75px);
}

body .contenedor .part-left .top {
  width: 100%;
  height: 60px;
  padding: 15px 8px 0px 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(225deg, #e942ff 0, #8838ff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .contenedor .part-left .top .back {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  font-weight: 700;
  text-align: center;
}

body .contenedor .part-left .top .user {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

body .contenedor .part-left .top .user figure {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid white;
}

body .contenedor .part-left .top .user figure img {
  width: 20px;
  height: 20px;
}

body .contenedor .part-left .top .user div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2px;
}

body .contenedor .part-left .top .user div .name-user {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

body .contenedor .part-left .top .user div .state-user {
  color: #d89eff;
  font-size: 10px;
  font-weight: 400;
}

body .contenedor .part-left .top .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2px;
}

body .contenedor .part-left .top .menu .point {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
}

body .contenedor .part-left .chat {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px 0px;
  background-color: #f5f3f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

body .contenedor .part-left .chat .msm-left {
  width: 120px;
  height: 35px;
  font-size: 8px;
  color: #9241c8;
  border-radius: 8px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 0px 0px 8px;
  padding: 0px 4px 0px 4px;
  background-color: rgba(216, 158, 255, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .contenedor .part-left .chat .dogs {
  width: 130px;
  height: 40px;
  overflow: hidden;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0px 8px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .contenedor .part-left .chat .dogs .dog {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

body .contenedor .part-left .chat .msm-right {
  max-width: 120px;
  max-height: 35px;
  font-size: 8px;
  color: #6e5d7e;
  border-radius: 8px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0px 8px 0px 0px;
  padding: 5px 5px 5px 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .contenedor .part-left .chat .msm-special {
  width: 150px;
  height: 35px;
  border-radius: 8px;
  margin: 0px 0px 0px 8px;
  padding: 0px 4px 0px 4px;
  background-image: linear-gradient(100deg, #e942ff 0, #8838ff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contenedor .part-left .chat .msm-special .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0px 8px;
  border: 2px solid #e570ff;
}

body .contenedor .part-left .chat .msm-special .text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #d89eff;
  font-size: 8px;
  font-weight: 400;
}

body .contenedor .part-left .chat .msm-special .price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

body .contenedor .part-left .chat .input-msm {
  -ms-flex-item-align: center;
      align-self: center;
  width: 90%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 35px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .contenedor .part-left .chat .input-msm .msm-text {
  color: #c6cacd;
  font-size: 10px;
  font-weight: 400;
}

body .contenedor .part-left .chat .input-msm .send {
  width: 25px;
  height: 25px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50%;
  background-color: #3e2753;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .contenedor .part-right {
  width: 450px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

body .contenedor .part-right .title {
  font-size: 32px;
  font-weight: 500;
  color: #3e2753;
}

body .contenedor .part-right .paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #a39daa;
}

@media (max-width: 700px) {
  body .contenedor {
    gap: 25px;
  }
}

@media (max-width: 650px) {
  body {
    height: auto;
  }
  body .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .contenedor .part-left {
    width: 300px;
    height: 500px;
  }
  body .contenedor .part-right {
    width: 400px;
    height: 250px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (max-width: 550px) {
  body .background-left {
    position: absolute;
    left: -100px;
    top: 0px;
    z-index: -1;
    width: 300px;
    height: 400px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    background-image: linear-gradient(225deg, #e942ff 0, #8838ff 100%);
  }
  body .background-right {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    width: 200px;
    height: 400px;
    border-top-left-radius: 85% 30%;
    background-image: linear-gradient(125deg, #f5f3f7 0, #d89eff 100%);
    opacity: 0.4;
  }
  body .contenedor .part-right {
    padding: 0px 25px;
  }
}

@media (max-height: 560px) {
  body {
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */